<template>
  <div style="display: block; justify-content: center" class="items-input">
    <div>
      <!-- Заголовок компонента -->
      <h1 class="text-h3 text-purple-lighten-2 mb-10 font-weight-bold">
        Добавление позиций из счета
      </h1>
      <!-- Форма для добавления нового товара -->
      <form >
        <!-- Поле для ввода названия товара -->
        <v-text-field
            v-model="itemName"
            label="Название позиции"
            placeholder="Введите название позиции"
            :max="50"
            title="Введите название позиции"
        ></v-text-field>
        <!-- Поле для ввода стоимости товара -->
        <v-text-field
            v-model="itemPrice"
            label="Стоимость"
            placeholder="Введите стоимость"
            type="number"
            title="Введите стоимость"
        ></v-text-field>
<!--         Кнопка для добавления товара с изменением цвета при наведении-->
        <v-btn
            class="v-btn v-btn--elevated v-theme--dark bg-primary v-btn--density-default v-btn--size-default v-btn--variant-elevated mb-3"
            @click="addItem"
        >
          Добавить
        </v-btn>
      </form>
      <div class="d-flex my-5 justify-space-between purple-lighten-4 text-h5 mb-6"
           v-for="item in items"
           :key="item.id">
        <div class="d-flex">
          <div style="min-width: 150px">
            {{ item.name }}
          </div>
          <div class="mx-4">
            {{ item.price }}₽
          </div>
        </div>
        <div>
          <div class="d-flex" v-for="(person, index) in people"
               :key="person.id">
            <div style="min-width: 25px;">
              {{ index + 1 }}
            </div>
            <div class="w-75">
              {{ person.name }}
            </div>
            <div>
              <!-- Чекбокс для выбора человека, связанного с товаром -->
              <input class="mx-4 table-person__checkbox"
                     type="checkbox"
                     :checked="item.selectedItems.includes(person.id)"
                     @change="updatePersonItems(item, person.id)"
              />
            </div>
          </div>
        </div>
        <div class="d-flex justify-end">
          <button
              @click="removeItem(item.id)"
              class="v-btn v-btn--elevated v-theme--dark bg-primary v-btn--density-default v-btn--size-default v-btn--variant-elevated"
          >
            Удалить
          </button>
        </div>
      </div>

      <!-- Отображение общей суммы стоимости выбранных товаров -->
      <div class="purple-lighten-4 my-10 text-h5">Общая сумма: {{ totalSum }}</div>
      <!-- Кнопка для перехода к следующему компоненту -->
      <button
          class="v-btn v-btn--elevated v-theme--dark bg-primary v-btn--density-default v-btn--size-default v-btn--variant-elevated w-100"
          @click="gotoNextComponent"
      >
        Дальше
      </button>
    </div>
  </div>
</template>

<script>
import {defineComponent, ref} from 'vue'
import {useItemsStore} from '@/stores/itemsStore'
import {usePeopleStore} from '@/stores/peopleStore'
import {useRouter} from 'vue-router';
import {VTextField} from "vuetify/components";

export default defineComponent({
  components: {VTextField},
  computed: {
    totalSum() {
      return useItemsStore().totalSum;
    },
  },
  name: 'ItemForm',
  setup() {
    // Состояния компонента
    const itemName = ref('') // Название товара
    const itemPrice = ref(null) // Стоимость товара
    const selectedPeopleToAdd = ref(null) // Выбранные люди для добавления к товару
    const buttonHover = ref(false) // Состояние наведения на кнопку
    const peopleStore = usePeopleStore() // Хранилище людей
    const itemsStore = useItemsStore() // Хранилище товаров
    const router = useRouter(); // Роутер для перехода между страницами
    // Функция для сохранения данных о людях в локальное хранилище
    const savePeopleToLocalStorage = () => {
      const peopleData = JSON.stringify(peopleStore.people.value);
      localStorage.setItem('peopleData', peopleData);
    };

    // Функция для добавления связи между человеком и товаром
    const addPersonToItem = (itemId, personId) => {
      const item = itemsStore.getItemById(itemId);
      const person = peopleStore.getPersonById(personId);
      if (item && person) {
        item.people.push(person.id);
        person.eatenItems.push(item.id);
        savePeopleToLocalStorage();
      }
    };
    // Функция для добавления товара
    const addItem = () => {
      if (!itemName.value || !itemPrice.value) {
        alert("Заполните все поля");
        return;
      }

      const item = {
        id: Date.now(),
        name: itemName.value,
        price: itemPrice.value,
        people: [], // Массив связанных с этим товаром людей
        selectedItems: [], // Массив выбранных товаров для каждого человека
      };
      // Добавьте выбранных людей к продукту
      peopleStore.people.forEach((person) => {
        if (person.selectedItems && person.selectedItems.length > 0) {
          item.selectedItems.push(...person.selectedItems);
          addPersonToItem(item.id, person.id);
        }
      });
      itemsStore.addItem(item); // Добавление товара в хранилище
      itemName.value = ''; // Очистка поля названия товара
      itemPrice.value = null; // Очистка поля стоимости товара
      // Очистите список выбранных товаров у всех людей
      peopleStore.people.forEach((person) => {
        person.selectedItems = [];
      });
    };
    // Функция для удаления товара
    const removeItem = (itemId) => {
      itemsStore.removeItem(itemId)
    }
    // Функция для перехода к следующему компоненту
    const gotoNextComponent = () => {
      router.push('/results')
    }
    // Функция для обновления связи между человеком и товаром
    const updatePersonItems = (item, personId) => {
      const personIndex = peopleStore.people.findIndex((person) => person.id === personId);
      if (personIndex !== -1) {
        const person = peopleStore.people[personIndex];
        const itemIndex = item.selectedItems.indexOf(item.id);
        const isPersonSelected = item.people.includes(person.id);
        if (itemIndex === -1) {
          // Если продукт не выбран для данного человека, добавьте его в selectedItems
          item.selectedItems.push(item.id);
        } else {
          // Если продукт уже выбран для данного человека, удалите его из selectedItems
          item.selectedItems.splice(itemIndex, 1);
        }
        const eatenItemIndex = person.eatenItems.indexOf(item.id);
        if (eatenItemIndex === -1) {
          // Если продукт не был добавлен в eatenItems для данного человека, добавьте его
          person.eatenItems.push(item.id);
        } else {
          // Если продукт уже есть в eatenItems для данного человека, удалите его
          person.eatenItems.splice(eatenItemIndex, 1);
        }
        // Обновите данные в хранилище peopleStore и itemsStore
        peopleStore.people[personIndex] = person;
        if (!isPersonSelected) {
          // Если человек не выбран для данного продукта, добавьте его в массив item.people
          item.people.push(person.id);
        } else {
          // Если человек уже выбран для данного продукта, удалите его из массива item.people
          const personIndexInItem = item.people.indexOf(person.id);
          if (personIndexInItem !== -1) {
            item.people.splice(personIndexInItem, 1);
          }
        }
        // Обновите данные в хранилище itemsStore
        itemsStore.items[itemsStore.items.indexOf(item)] = item;
      }
    }
    return {
      itemName,
      itemPrice,
      selectedPeopleToAdd,
      buttonHover,
      people: peopleStore.people,
      items: itemsStore.items,
      addItem,
      updatePersonItems,
      addPersonToItem,
      removeItem,
      gotoNextComponent,
    }
  },
})
</script>

<style>
/* Стили для элементов ввода товаров */
.items-input {
  padding: 50px; /* Добавлено внутреннее заполнение */
  border: 2px solid #ccc; /* Граница с тенью */
  border-radius: 5px; /* Добавлены скругленные углы */
}

</style>