<template>

  <!-- Основной контейнер компонента для ввода информации о людях -->
  <div class="people-input">
    <!-- Контейнер для заголовка -->
    <div class="heading-container">
      <!-- Заголовок с использованием жирного текста -->
      <h1 class="text-h4 text-purple-lighten-2 my-6 font-weight-bold">Добавим друзей, с которыми будем делить счет</h1>
    </div>
    <!-- Форма для добавления нового человека -->
    <form class="custom-form-my my-12"
          @submit.prevent="addPerson"
    >
      <!-- Контейнер с полем ввода имени и кнопкой для добавления -->
      <label class="label-container w-100">
        <!-- Поле ввода имени человека, связанное с переменной personName -->
        <v-text-field
            v-model="personName"
            class="v-text-field w-100"
            label="Имя человека"
            placeholder="Имя человека"
        ></v-text-field>
        <!-- Кнопка для добавления человека с обработчиком события @click -->
        <v-btn
            class="v-btn v-btn--elevated v-theme--dark bg-primary v-btn--density-default v-btn--size-default v-btn--variant-elevated"
            color="primary"
            dark
            @click="addPerson"
        >
          Добавить человека
        </v-btn>
      </label>
    </form>

    <div
        class="d-flex mb-6 justify-space-between purple-lighten-4 text-h5"
        v-for="(person, index) in people"
        :key="person.id"
    >
      <div class="d-flex w-75">
      <div class="w-25">
        {{ index + 1 }}
      </div>
      <div class="">
        {{ person.name}}
      </div></div>
      <v-btn
          @click="removePerson(person.id)"
          class="v-btn v-btn--elevated v-theme--dark bg-primary v-btn--density-default v-btn--size-default v-btn--variant-elevated">
        Удалить
      </v-btn>
    </div>
    <div>
      <!-- Кнопка "Назад" с передачей списка имен при нажатии -->
      <router-link
          to="/"
          class="v-btn w-100 mb-5 v-btn--elevated v-theme--dark bg-primary v-btn--density-default v-btn--size-default v-btn--variant-elevated"
          @click="goBackWithNames"
      >
        Назад
      </router-link>
    </div>
    <!-- Кнопка для перехода к следующему компоненту -->
    <v-btn
        class="v-btn w-100 v-btn--elevated v-theme--dark bg-primary v-btn--density-default v-btn--size-default v-btn--variant-elevated"
        @click="gotoNextComponent"
    >
      Дальше
    </v-btn>
  </div>
</template>

<script setup>
import {useRouter} from 'vue-router';
import {ref} from 'vue'
import {usePeopleStore} from '@/stores/peopleStore'

import {computed} from 'vue'
import {VTextField} from "vuetify/components";

// Получение списка людей и имени нового человека из хранилища
const people = computed(() => peopleStore.people)
const personName = ref('')
const peopleStore = usePeopleStore()
const router = useRouter();

// Функция для перехода к предыдущему компоненту с передачей списка имен
const goBackWithNames = () => {
  // Получаем список имен из хранилища
  const allNames = peopleStore.getAllNames()
  // Используем маршрутизатор для перехода на компонент "WelcomeForm" с передачей параметра "allNames"
  router.push({name: 'WelcomeForm', params: {allNames}})
}
// Функция для удаления человека по его ID
const removePerson = (id) => {
  // Удаление человека из хранилища
  peopleStore.removePerson(id)
  // Сохранение обновленного списка людей в локальное хранилище
}


// Функция для добавления нового человека
const addPerson = () => {
  // Проверка на пустое имя
  if (personName.value.trim()) {
    // Проверка на уникальность имени перед добавлением
    if (peopleStore.isUniquePerson(personName.value)) {
      // Добавление нового человека
      peopleStore.addPerson(personName.value)

      // Очистка поля ввода и сохранение в локальном хранилище
      personName.value = ''
    } else {
      // Предупреждение о том, что имя уже существует в списке
      alert("Это имя уже есть в списке друзей")
    }
  } else {
    // Предупреждение о необходимости ввести имя
    alert("Нужно ввести имя, хорошо?")
  }
}

// Функция для перехода к следующему компоненту
const gotoNextComponent = () => {
  // Проверяем, что список людей не пустой
  if (peopleStore.people.length === 0) {
    // Предупреждение о необходимости добавить людей
    alert("Сначала добавьте людей")
  } else {
    // Используем маршрутизатор для перехода на компонент "items"
    router.push('/items');
  }
}
</script>

<style scoped>
/* Стили для основного контейнера компонента */
.people-input {
  padding: 50px; /* Внутренние отступы */
  border: 2px solid #ccc; /* Граница контейнера */
  border-radius: 5px; /* Скругленные углы */
}
</style>