<template>
  <!-- Обертка для раздела результатов -->
  <div class="results-bill">
    <!-- Заголовок раздела -->
    <h1 class="text-h4 text-purple-lighten-2 mb-10 font-weight-bold">Сколько каждый отдает в общий счет</h1>

    <div class="d-flex w-100" >
      <div class="text-h4 w-50 text-purple-lighten-2 my-6">Имя</div>
      <div class="text-h4 w-50 text-purple-lighten-2 my-6">Денюжка</div>
    </div>
    <div class="d-flex w-100" v-for="person in people" :key="person.id">
      <div class="purple-lighten-4 w-50 text-h4">{{ person.name }}</div>
      <div class="purple-lighten-4 w-50 text-h4">{{ calculateDebt(person) }}</div>
    </div>

  </div>
</template>
<script>
import { defineComponent } from 'vue'
import { useItemsStore } from '@/stores/itemsStore'
import { usePeopleStore} from '@/stores/peopleStore'

export default defineComponent({
  name: 'ResultsBill',
  setup() {
    // Импорт хранилищ Pinia с помощью функций usePeopleStore и useItemsStore
    const peopleStore = usePeopleStore()
    const itemsStore = useItemsStore()
    // Функция для вычисления долга для каждого человека
    const calculateDebt = (person) => {
      let debt = 0;
      // Перебираем массив eatenItems для данного человека
      for (const itemId of person.eatenItems) {
        // Находим продукт в itemsStore по itemId
        const item = itemsStore.items.find((item) => item.id === itemId);
        if (item) {
          // Рассчитываем долю долга для данного продукта и добавляем к общей сумме долга
          debt += item.price / item.people.length;
        }
      }
      // Возвращаем сумму долга с округлением до двух знаков после запятой
      return debt.toFixed(2);
    };
    // Возвращаемые данные для шаблона компонента
    return {
      people: peopleStore.people, // Массив людей из хранилища
      calculateDebt, // Функция для расчета долга
    };
  },
})
</script>
<style>
/* Стили для обертки раздела результатов */
.results-bill {
  padding: 50px; /* Внутреннее заполнение обертки */
  border: 2px solid #ccc; /* Граница с тенью */
  border-radius: 5px; /* Добавлены скругленные углы */
}

</style>