<template>
  <!-- Контейнер для приветствия -->
  <div class="text-md-center ma-3">
    <!-- Заголовок первого уровня -->
    <h1 class="text-h2 text-purple-lighten-2 mb-3 font-weight-bold">Добро пожаловать!</h1>
    <!-- Заголовок второго уровня -->
    <h2 class="text-h6 text-white mb-3 font-weight-medium">Данный проект представляет собой тестовое задание для НИЦ
      СПБЭТУ для отдела ОВП!</h2>
    <!-- Параграф с классом "project-goals"-->
    <p class="text-h4 text-purple-lighten-2 my-6 font-weight-bold">Цели проекта:</p>
    <!-- Список целей проекта -->
    <p class="text-left text-h6 mb-5 text-purple">Общая цель: Создать приложение для деления чека/счёта на нескольких
      людей. Сначала вводятся по очереди люди, потом
      вводятся продукты, каждому продукту указывается цена и тот, кто его “использовал” (ел/пил), после чего считается
      сколько денег “потратил” каждый человек
    </p>
    <!-- Пункт 2: Реализовать функционал добавления персон -->
    <p class="text-left text-h6 mb-5 text-purple">Реализовать функционал: Экран добавления персон. Добавить возможность
      добавления людей, каждому из
      которых нужно ввести имя
    </p>
    <!-- Пункт 3: Реализовать функционал добавления позиций из счёта -->
    <p class="text-left text-h6 mb-5 text-purple">Реализовать функционал: Экран добавления позиций из счёта. Каждой
      позиции указывается название и
      стоимость. Для каждой позиции можно выбрать (отметить галочкой) людей, кто её ел или пил. Например огурец ели
      Валя, Маша и Антон, а помидоры Маша, Дима и Пётр
    </p>
    <!-- Пункт 4: Реализовать экран результатов -->
    <p class="text-left text-h6 mb-5 text-purple">Реализовать функционал: Экран результатов - отображает для каждого
      человека сколько денег он потратил.
      То есть если Огурец стоил 30р и его ели 3 человека, то каждый из них потратил 10р
    </p>
    <!-- Кнопка для перехода к следующему компоненту по клику -->
    <router-link to="/people">
      <v-btn
          class="v-btn v-btn--elevated v-theme--dark bg-primary v-btn--density-default v-btn--size-default v-btn--variant-elevated">
        Продолжить
      </v-btn>
    </router-link>
    <!-- Информация об авторе проекта -->
    <p class="text-grey-lighten-2 my-6">Aвтор проекта: <a href="https://t.me/ProstoVladTut"
                                                          class="text-h5 text-purple-lighten-2 font-weight-bold">Vlad</a>
    </p>
    <!-- Заголовок для контактной информации -->
    <p class="text-h5 text-purple-lighten-2 my-6 font-weight-bold">Связаться со мной:</p>
    <!-- Список с контактной информацией -->
    <p>Email: <a class="text-purple-lighten-2 " href="mailto:ooovladislavchik@gmail.com"> ooovladislavchik@gmail.com</a>
    </p>
    <p>Телефон: <a class="text-purple-lighten-2 " href="tel:+79184842889">89184842889</a></p>
  </div>
</template>

<script>
import {useRouter} from 'vue-router';

export default {
  setup() {
    // Инициализация маршрутизатора Vue Router
    const router = useRouter();

    return {};
  }
};
</script>

<style scoped>
.contact-list li {
  font-size: 20px; /* Размер шрифта элементов списка контактной информации */
  margin-bottom: 10px; /* Нижний отступ для элементов списка контактной информации */
  color: #555; /* Цвет текста элементов списка контактной информации */
}
</style>